<h1>New Attachment</h1>

<div class="card">
<div class="card-body p-5 container">
    <%= render 'form', attachment: @attachment %>

    <button type="button" class="btn btn-sucess">
        <%= link_to 'Back', attachments_path %>
    </button>
</div>
</div>